<a href="https://colab.research.google.com/github/myungseonSim/kakao-tech/blob/main/GenAi/KTB_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

실습과제 : kaggle의 데이터를 선정해 데이터 파이프라인 구축해보기

In [36]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.14)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.6.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.7)

In [70]:
!kaggle datasets download -d rabieelkharoua/predict-restaurant-customer-satisfaction-dataset

Dataset URL: https://www.kaggle.com/datasets/rabieelkharoua/predict-restaurant-customer-satisfaction-dataset
License(s): Attribution 4.0 International (CC BY 4.0)
predict-restaurant-customer-satisfaction-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [71]:
!unzip predict-restaurant-customer-satisfaction-dataset.zip

Archive:  predict-restaurant-customer-satisfaction-dataset.zip
replace restaurant_customer_satisfaction.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [45]:
import pandas as pd

data = pd.read_csv('restaurant_customer_satisfaction.csv')

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            1500 non-null   int64
 1   Age                   1500 non-null   int64
 2   Gender                1500 non-null   object
 3   Income                1500 non-null   int64
 4   VisitFrequency        1500 non-null   object
 5   AverageSpend          1500 non-null   float64
 6   PreferredCuisine      1500 non-null   object
 7   TimeOfVisit           1500 non-null   object
 8   GroupSize             1500 non-null   int64
 9   DiningOccasion        1500 non-null   object
 10  MealType              1500 non-null   object
 11  OnlineReservation     1500 non-null   int64
 12  DeliveryOrder         1500 non-null   int64
 13  LoyaltyProgramMember  1500 non-null   int64
 14  WaitTime              1500 non-null   float64
 15  ServiceRating         1500 non-null   int64
 16  FoodRating            1500 non-null   int64
 17  AmbianceRating        1500 non-null   int64
 18  HighSatisfaction      1500 non-null   int64
dtypes: float64(2), int64(11), object(6)
memory usage: 222.8+ KB

In [47]:
data.head(5)

,CustomerID,Age,Gender,Income,VisitFrequency,AverageSpend,PreferredCuisine,TimeOfVisit,GroupSize,DiningOccasion,MealType,OnlineReservation,DeliveryOrder,LoyaltyProgramMember,WaitTime,ServiceRating,FoodRating,AmbianceRating,HighSatisfaction
0,654,35,Male,83380,Weekly,27.829142,Chinese,Breakfast,3,Business,Takeaway,0,1,1,43.523929,2,5,4,0
1,655,19,Male,43623,Rarely,115.408622,American,Dinner,1,Casual,Dine-in,0,0,0,57.524294,5,5,3,0
2,656,41,Female,83737,Weekly,106.693771,American,Dinner,6,Celebration,Dine-in,0,1,0,48.682623,3,4,5,0
3,657,43,Male,96768,Rarely,43.508508,Indian,Lunch,1,Celebration,Dine-in,0,0,0,7.552993,4,5,1,0
4,658,55,Female,67937,Monthly,148.084627,Chinese,Breakfast,1,Business,Takeaway,0,0,1,37.789041,2,3,5,0

In [48]:
data.describe()

,CustomerID,Age,Income,AverageSpend,GroupSize,OnlineReservation,DeliveryOrder,LoyaltyProgramMember,WaitTime,ServiceRating,FoodRating,AmbianceRating,HighSatisfaction
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,1403.500000,43.832000,85921.890000,105.659004,5.035333,0.296667,0.405333,0.480000,30.163550,3.044000,2.997333,2.987333,0.134000
std,433.157015,14.967157,38183.051749,52.381849,2.558864,0.456941,0.491120,0.499766,17.214184,1.423405,1.418920,1.450716,0.340766
min,654.000000,18.000000,20012.000000,10.306127,1.000000,0.000000,0.000000,0.000000,0.001380,1.000000,1.000000,1.000000,0.000000
25%,1028.750000,31.750000,52444.000000,62.287907,3.000000,0.000000,0.000000,0.000000,15.235423,2.000000,2.000000,2.000000,0.000000
50%,1403.500000,44.000000,85811.000000,104.626408,5.000000,0.000000,0.000000,0.000000,30.044055,3.000000,3.000000,3.000000,0.000000
75%,1778.250000,57.000000,119159.250000,148.649330,7.000000,1.000000,1.000000,1.000000,45.285649,4.000000,4.000000,4.000000,0.000000
max,2153.000000,69.000000,149875.000000,199.973527,9.000000,1.000000,1.000000,1.000000,59.970762,5.000000,5.000000,5.000000,1.000000

In [49]:
missing_values = data.isnull().sum()
print(missing_values)

CustomerID              0
Age                     0
Gender                  0
Income                  0
VisitFrequency          0
AverageSpend            0
PreferredCuisine        0
TimeOfVisit             0
GroupSize               0
DiningOccasion          0
MealType                0
OnlineReservation       0
DeliveryOrder           0
LoyaltyProgramMember    0
WaitTime                0
ServiceRating           0
FoodRating              0
AmbianceRating          0
HighSatisfaction        0
dtype: int64

In [44]:
#임의로 결측값을 추가하는 부분 꼭 실행을 하지 않아도 됨
import numpy as np

def add_missing_values(df, col_name,missing_frac):
    """
    특정 열에 지정된 비율의 결측값을 추가합니다.

    :param df: 데이터프레임
    :param col_name: 결측값을 추가할 열 이름
    :param missing_frac: 결측값 비율 (0.0 ~ 1.0)
    """
    np.random.seed(42)  # 재현성을 위해 랜덤 시드 설정
    n_rows = df.shape[0] # 데이터프레임의 행 수
    n_missing = int(n_rows * missing_frac) # 결측값을 추가할 행의 수를 계산

    missing_indices = np.random.choice(n_rows, n_missing, replace=False) # 결측값을 추가할 행의 인덱스를 무작위로 선택
    df.loc[missing_indices, col_name] = np.nan # 선택된 인덱스의 열 값을 NaN으로 설정

In [15]:
# 결측값 추가
add_missing_values(data, 'Age', 0.1)  # Age 열에 10% 결측값 추가
add_missing_values(data, 'Gender', 0.1)  # Gender 열에 10% 결측값 추가

In [16]:
# 결측값이 잘 추가되었는지 확인
print("Data with missing values:\n", data.tail(10))
print("Missing values count:\n", data.isnull().sum())

Data with missing values:
       CustomerID   Age  Gender  Income VisitFrequency  AverageSpend  \
1490        2144   NaN     NaN  106717         Rarely    105.323720
1491        2145   NaN     NaN   90569         Weekly    101.312053
1492        2146  20.0    Male   41041         Rarely     59.403047
1493        2147  62.0    Male  135684         Weekly    128.943101
1494        2148  25.0  Female  142332         Weekly    128.626784
1495        2149  39.0    Male  114857        Monthly    163.015254
1496        2150  37.0  Female  133506         Weekly    190.991911
1497        2151  46.0    Male  119159        Monthly    150.088604
1498        2152  24.0    Male   27970         Weekly    196.363626
1499        2153  51.0    Male  148333         Weekly    171.119498

     PreferredCuisine TimeOfVisit  GroupSize DiningOccasion  MealType  \
1490           Indian   Breakfast          5         Casual  Takeaway
1491           Indian       Lunch          9         Casual  Takeaway
1492          Italian      Dinner          4       Business   Dine-in
1493          Italian       Lunch          6       Business  Takeaway
1494         American      Dinner          4       Business  Takeaway
1495         American       Lunch          2       Business   Dine-in
1496          Italian       Lunch          4         Casual  Takeaway
1497         American       Lunch          4         Casual   Dine-in
1498          Italian      Dinner          6         Casual   Dine-in
1499          Chinese   Breakfast          4         Casual   Dine-in

      OnlineReservation  DeliveryOrder  LoyaltyProgramMember   WaitTime  \
1490                  1              1                     0  17.525024
1491                  0              1                     0  55.700437
1492                  0              0                     1  50.064920
1493                  1              1                     1  24.097052
1494                  1              1                     1  18.134661
1495                  0              1                     1   7.206275
1496                  0              0                     0  37.863952
1497                  0              1                     0   3.925785
1498                  1              1                     0  24.228038
1499                  1              1                     1  39.402163

      ServiceRating  FoodRating  AmbianceRating  HighSatisfaction
1490              3           2               3                 1
1491              3           5               1                 0
1492              2           4               2                 0
1493              3           1               5                 1
1494              1           1               3                 1
1495              1           2               1                 0
1496              5           2               2                 0
1497              3           3               3                 1
1498              2           2               4                 1
1499              4           5               4                 1
Missing values count:
 CustomerID                0
Age                     150
Gender                  150
Income                    0
VisitFrequency            0
AverageSpend              0
PreferredCuisine          0
TimeOfVisit               0
GroupSize                 0
DiningOccasion            0
MealType                  0
OnlineReservation         0
DeliveryOrder             0
LoyaltyProgramMember      0
WaitTime                  0
ServiceRating             0
FoodRating                0
AmbianceRating            0
HighSatisfaction          0
dtype: int64

In [50]:
data['Age'].mean()

43.832

In [51]:
#숫자 데이터 전처리 - 결측값 처리 (평균값으로 대체)
data['Age'] = data['Age'].fillna(data['Age'].mean())

In [52]:
print("Missing values count:\n", data.isnull().sum())

Missing values count:
 CustomerID              0
Age                     0
Gender                  0
Income                  0
VisitFrequency          0
AverageSpend            0
PreferredCuisine        0
TimeOfVisit             0
GroupSize               0
DiningOccasion          0
MealType                0
OnlineReservation       0
DeliveryOrder           0
LoyaltyProgramMember    0
WaitTime                0
ServiceRating           0
FoodRating              0
AmbianceRating          0
HighSatisfaction        0
dtype: int64

In [55]:
data['Gender'].value_counts()

Gender
Female    759
Male      741
Name: count, dtype: int64

In [54]:
data['Gender'].mode()

0    Female
Name: Gender, dtype: object

In [56]:
#범주형 데이터 전처리 - 결측값 처리(최빈값으로 대체)
data['Gender'] = data['Gender'].fillna(data['Gender'].mode()[0])

In [57]:
print("Missing values count:\n", data.isnull().sum())

Missing values count:
 CustomerID              0
Age                     0
Gender                  0
Income                  0
VisitFrequency          0
AverageSpend            0
PreferredCuisine        0
TimeOfVisit             0
GroupSize               0
DiningOccasion          0
MealType                0
OnlineReservation       0
DeliveryOrder           0
LoyaltyProgramMember    0
WaitTime                0
ServiceRating           0
FoodRating              0
AmbianceRating          0
HighSatisfaction        0
dtype: int64

In [58]:
data['Gender'].head()

0      Male
1      Male
2    Female
3      Male
4    Female
Name: Gender, dtype: object

In [59]:
#범주형 데이터 인코딩 (레이블 인코딩)
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder() #객체 생성
data['Gender'] = label_encoder.fit_transform(data['Gender'])

In [60]:
data['Gender'].head()

0    1
1    1
2    0
3    1
4    0
Name: Gender, dtype: int64

In [61]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

#현재시간
current_time = datetime.now()

#예시 데이터 생성
time_data = pd.DataFrame({
    'PurchaseTime': [current_time - timedelta(days=i) for i in range(5)],
    'DeliveryTime': [current_time - timedelta(days=i) for i in range(5)]
})

print("Original Data:")
print(time_data)

Original Data:
                PurchaseTime               DeliveryTime
0 2024-07-03 05:08:08.097021 2024-07-03 05:08:08.097021
1 2024-07-02 05:08:08.097021 2024-07-02 05:08:08.097021
2 2024-07-01 05:08:08.097021 2024-07-01 05:08:08.097021
3 2024-06-30 05:08:08.097021 2024-06-30 05:08:08.097021
4 2024-06-29 05:08:08.097021 2024-06-29 05:08:08.097021

In [62]:
# 시간 데이터를 datetime 형식으로 변환 (이미 datetime)
time_data['PurchaseTime'] = pd.to_datetime(time_data['PurchaseTime'])
time_data['DeliveryTime'] = pd.to_datetime(time_data['DeliveryTime'])

# 시간 컴포넌트 추출
time_data['PurchaseYear'] = time_data['PurchaseTime'].dt.year
time_data['PurchaseMonth'] = time_data['PurchaseTime'].dt.month
time_data['PurchaseDay'] = time_data['PurchaseTime'].dt.day
time_data['PurchaseHour'] = time_data['PurchaseTime'].dt.hour
time_data['PurchaseMinute'] = time_data['PurchaseTime'].dt.minute
time_data['PurchaseSecond'] = time_data['PurchaseTime'].dt.second

# 시간 차이 계산
time_data['DeliveryDays'] = (time_data['DeliveryTime'] - time_data['PurchaseTime']).dt.days

print("\nData after extracting components and calculating differences:\n", time_data)

Data after extracting components and calculating differences:
                 PurchaseTime               DeliveryTime  PurchaseYear  \
0 2024-07-03 05:08:08.097021 2024-07-03 05:08:08.097021          2024
1 2024-07-02 05:08:08.097021 2024-07-02 05:08:08.097021          2024
2 2024-07-01 05:08:08.097021 2024-07-01 05:08:08.097021          2024
3 2024-06-30 05:08:08.097021 2024-06-30 05:08:08.097021          2024
4 2024-06-29 05:08:08.097021 2024-06-29 05:08:08.097021          2024

   PurchaseMonth  PurchaseDay  PurchaseHour  PurchaseMinute  PurchaseSecond  \
0              7            3             5               8               8
1              7            2             5               8               8
2              7            1             5               8               8
3              6           30             5               8               8
4              6           29             5               8               8

   DeliveryDays
0             0
1             0
2             0
3             0
4             0

In [33]:
# 데이터 스케일링 (값이 이상하게 나옴..)
from sklearn.preprocessing import StandardScaler # standardize
print("Data before scaling:\n", data[['Age', 'Income']].head())

scaler = StandardScaler() # 객체 생성
data[['Age', 'Income']] = scaler.fit_transform(data[['Age', 'Income']]) # 스케일링

print("Data after scaling:\n", data[['Age', 'Income']].head())

Data before scaling:
         Age    Income
0 -0.621610 -0.066593
1 -1.740322 -1.108162
2 -0.202093 -0.057241
3 -0.062254  0.284150
4  0.776780 -0.471175
Data after scaling:
         Age    Income
0 -0.621610 -0.066593
1 -1.740322 -1.108162
2 -0.202093 -0.057241
3 -0.062254  0.284150
4  0.776780 -0.471175

In [63]:
print("Original table:\n", data.head())
# 데이터 피벗
pivot_table = data.pivot_table(values='Income', index='PreferredCuisine', columns='LoyaltyProgramMember', aggfunc='mean') # aggfunc: 집계함수
print("Pivot table:\n", pivot_table.head())

Original table:
    CustomerID  Age  Gender  Income VisitFrequency  AverageSpend  \
0         654   35       1   83380         Weekly     27.829142
1         655   19       1   43623         Rarely    115.408622
2         656   41       0   83737         Weekly    106.693771
3         657   43       1   96768         Rarely     43.508508
4         658   55       0   67937        Monthly    148.084627

  PreferredCuisine TimeOfVisit  GroupSize DiningOccasion  MealType  \
0          Chinese   Breakfast          3       Business  Takeaway
1         American      Dinner          1         Casual   Dine-in
2         American      Dinner          6    Celebration   Dine-in
3           Indian       Lunch          1    Celebration   Dine-in
4          Chinese   Breakfast          1       Business  Takeaway

   OnlineReservation  DeliveryOrder  LoyaltyProgramMember   WaitTime  \
0                  0              1                     1  43.523929
1                  0              0                     0  57.524294
2                  0              1                     0  48.682623
3                  0              0                     0   7.552993
4                  0              0                     1  37.789041

   ServiceRating  FoodRating  AmbianceRating  HighSatisfaction
0              2           5               4                 0
1              5           5               3                 0
2              3           4               5                 0
3              4           5               1                 0
4              2           3               5                 0
Pivot table:
 LoyaltyProgramMember             0             1
PreferredCuisine
American              83069.052239  89507.875000
Chinese               88433.258278  84942.075472
Indian                93427.383648  80834.408759
Italian               85210.757062  82274.101351
Mexican               82061.955975  89166.492857

In [64]:
# 데이터 합치기
# 예제 데이터프레임 생성
data_1 = data[['Age', 'LoyaltyProgramMember', 'Income']]
# data_1 데이터 형태
print("Original data_1:\n", data_1.head())
data_2 = data[['Gender', 'Income']]
# data_2 데이터 형태
print("Original data_2:\n", data_2.head())
merged_data = pd.merge(data_1, data_2, on='Income')
print("Merged data:\n", merged_data.head())

Original data_1:
    Age  LoyaltyProgramMember  Income
0   35                     1   83380
1   19                     0   43623
2   41                     0   83737
3   43                     0   96768
4   55                     1   67937
Original data_2:
    Gender  Income
0       1   83380
1       1   43623
2       0   83737
3       1   96768
4       0   67937
Merged data:
    Age  LoyaltyProgramMember  Income  Gender
0   35                     1   83380       1
1   19                     0   43623       1
2   41                     0   83737       0
3   43                     0   96768       1
4   55                     1   67937       0

In [65]:
# 데이터 그룹화
grouped_data = data.groupby('Gender').agg({'Income': 'mean', 'Age': 'mean'})
print("Grouped data:\n", grouped_data)

Grouped data:
               Income        Age
Gender
0       85743.695652  44.077734
1       86104.412955  43.580297

In [66]:
# 파생 변수 생성
data['AgeGroup'] = pd.cut(data['Age'], bins=[0, 18, 35, 50, 100], labels=['Child', 'Young Adult', 'Adult', 'Senior'])
print("Data with AgeGroup:\n", data[['Age', 'AgeGroup']].head())

Data with AgeGroup:
    Age     AgeGroup
0   35  Young Adult
1   19  Young Adult
2   41        Adult
3   43        Adult
4   55       Senior

In [67]:
# 데이터 샘플링
sampled_data = data.sample(frac=0.1, random_state=42)
print("Sampled data:\n", sampled_data.head())
print("*"*30)
print("Sampled data info:\n", sampled_data.info())

Sampled data:
       CustomerID  Age  Gender  Income VisitFrequency  AverageSpend  \
1116        1770   48       0   73847          Daily     81.060135
1368        2022   28       0   63728         Weekly     59.695381
422         1076   51       0   41323         Rarely     49.910812
413         1067   40       0  117841          Daily    186.769294
451         1105   58       0  120168          Daily     68.929441

     PreferredCuisine TimeOfVisit  GroupSize DiningOccasion  MealType  \
1116          Mexican      Dinner          8    Celebration  Takeaway
1368          Italian       Lunch          5       Business   Dine-in
422           Italian       Lunch          7    Celebration   Dine-in
413           Italian      Dinner          6       Business  Takeaway
451            Indian   Breakfast          5         Casual  Takeaway

      OnlineReservation  DeliveryOrder  LoyaltyProgramMember   WaitTime  \
1116                  0              0                     0  34.217811
1368                  0              0                     0  25.421074
422                   0              1                     0  50.497703
413                   1              0                     1  56.377402
451                   1              1                     1  25.977449

      ServiceRating  FoodRating  AmbianceRating  HighSatisfaction     AgeGroup
1116              3           1               2                 0        Adult
1368              1           2               3                 1  Young Adult
422               2           4               3                 0       Senior
413               3           5               1                 0        Adult
451               3           2               3                 0       Senior
******************************
<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1116 to 782
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            150 non-null    int64
 1   Age                   150 non-null    int64
 2   Gender                150 non-null    int64
 3   Income                150 non-null    int64
 4   VisitFrequency        150 non-null    object
 5   AverageSpend          150 non-null    float64
 6   PreferredCuisine      150 non-null    object
 7   TimeOfVisit           150 non-null    object
 8   GroupSize             150 non-null    int64
 9   DiningOccasion        150 non-null    object
 10  MealType              150 non-null    object
 11  OnlineReservation     150 non-null    int64
 12  DeliveryOrder         150 non-null    int64
 13  LoyaltyProgramMember  150 non-null    int64
 14  WaitTime              150 non-null    float64
 15  ServiceRating         150 non-null    int64
 16  FoodRating            150 non-null    int64
 17  AmbianceRating        150 non-null    int64
 18  HighSatisfaction      150 non-null    int64
 19  AgeGroup              150 non-null    category
dtypes: category(1), float64(2), int64(12), object(5)
memory usage: 23.8+ KB
Sampled data info:
 None

In [68]:
# PCA (주성분 분석)
from sklearn.decomposition import PCA

# PCA 적용
pca = PCA(n_components=2)
pca_result = pca.fit_transform(data[['Age', 'Income', 'WaitTime']])

# 결과를 데이터프레임으로 변환
pca_df = pd.DataFrame(pca_result, columns=['PC1', 'PC2'])

print("PCA Result:\n", pca_df.head())

PCA Result:
             PC1        PC2
0   2541.890006 -13.961914
1  42298.889919 -28.796518
2   2184.890131 -18.661166
3 -10846.110215  22.397729
4  17984.890213  -6.625175

In [69]:
# 전처리 작업의 자동화 (파이프라인 구축)
from sklearn.pipeline import Pipeline  # 파이프라인 구축을 위한 클래스
from sklearn.impute import SimpleImputer  # 결측값 처리
from sklearn.preprocessing import StandardScaler  # 데이터 스케일링

# 예제를 위한 데이터 분리
data_1 = data[['Age', 'Income', 'WaitTime']]

# 파이프라인 구축
pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # 결측값 대체
    ('scaler', StandardScaler())  # 데이터 스케일링
])

# 데이터 변환
processed_data = pipeline.fit_transform(data_1)

# 결과를 데이터프레임으로 변환
processed_data_df = pd.DataFrame(processed_data, columns=['Age', 'Income', 'WaitTime'])

print("Processed Data:\n", processed_data_df.head())

Processed Data:
         Age    Income  WaitTime
0 -0.590289 -0.066593  0.776385
1 -1.659653 -1.108162  1.589960
2 -0.189277 -0.057241  1.076162
3 -0.055607  0.284150 -1.313922
4  0.746416 -0.471175  0.443125